{% extends '@App/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/lib/bootstrap-sweetalert/sweetalert.css') }}">
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/lib/bootstrap-sweetalert/sweetalert.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/moment/moment.min.js') }}"></script>
    <script src="{{ asset('assets/js/moment/moment-precise-range.js') }}"></script>
<script>
    function catclientes(url) {
        window.open(url, 'Catálogo de clientes', 'width=700, height=670, right=310 , location=no, menubar=no, status=no, toolbar=no')
    }

    function catservicios(url) {
        window.open(url, 'Catálogo de Servicios', 'width=700, height=670, left=660, location=no, menubar=no, status=no, toolbar=no)')
    }

$(document).ready(function () {
    $(".modifica").click(function () {
        var o = document.getElementById("observaciones").value;
        var id = {{ plan.id }};
        var es = 7;
        $.ajax({
            type:'POST',
            url:'{{ path('modifica') }}',
            data:'observacion='+o+'&id='+id+'&estatus='+es,
            success:function(html){
                if(html==1){
                    swal({
                        title: "¡Listo!",
                        text: "Modificación enviada.",
                        type: "success",
                        html:true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "OK!",
                        closeOnConfirm: true,
                        allowOutsideClick: false
                    },function (){
                      window.location = "{{ path('autorizacion') }}";
                    });
                }
            }
        });
    });
});

$(document).ready(function () {
    $(".enviarv").click(function () {
        var id = {{ plan.id }};
        var es = 5;
        $.ajax({
            type:'POST',
            url:'{{ path('enviarv') }}',
            data:'id='+id+'&estatus='+es,
            success:function(html){
                if(html==1){
                    swal({
                        title: "¡Listo!",
                        text: "Modificación enviada.",
                        type: "success",
                        html:true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "OK!",
                        closeOnConfirm: true,
                        allowOutsideClick: false
                    },function (){
                      window.location = "{{ path('autorizacion') }}";
                    });
                }
            }
        });
    });
});

    $(document).ready(function () {
    $(".autoriza").click(function () {
        var o = document.getElementById("observaciones").value;
        var id = {{ plan.id }};
        var es = 4;


        $.ajax({
            type:'POST',
            url:'{{ path('autorizap') }}',
            // data:'observacion='+o+'&fecha='+fe+'&id='+id+'&estatus='+es,
            data:'observacion='+o+'&id='+id+'&estatus='+es,
            success:function(html){
                if(html==1){
                    swal({
                        title: "¡Listo!",
                        text: "Modificación enviada.",
                        type: "success",
                        html:true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "OK!",
                        closeOnConfirm: true,
                        allowOutsideClick: false
                    },function (){
                      window.location = "{{ path('autorizacion') }}";
                    });
                }
            }
        });
    });
});

    $(document).ready(function () {
    $(".direccion").click(function () {
        var o = $('#observaciones').val();
        var id = {{ plan.id }};
        $.ajax({
            type:'POST',
            url:'{{ path('enviardg') }}',
            data:'observacion='+o+'&id='+id,

            success:function(html){
                if(html==1){
                    swal({
                        title: "¡Listo!",
                        text: "Modificación enviada.",
                        type: "success",
                        html:true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "OK!",
                        closeOnConfirm: true,
                        allowOutsideClick: false
                    },function (){
                        //console.log(o);
                      window.location = "{{ path('autorizacion') }}";
                    });
                }
            }
        });
    });
});

  var x = document.getElementById("fechai").innerHTML;
  var y = document.getElementById("fechaf").innerHTML;

  var fechai = moment(x);
  var fechaf = moment(y);

  var tiempo = fechaf.diff(fechai, 'days');

  var periodo = document.getElementById("periodo");
  periodo.innerHTML = tiempo + " " + "días"  ;


</script>
{% endblock %}

{% block body %}

    <header class="section-header">
        <div class="tbl">
            <div class="tbl-row">
                <div class="tbl-cell">
                    <h2 class="inline-block">Consulta Plan de Prospección</h2>
                </div>
                <div class="tbl-cell text-right">
                    <nav class="inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('regClientes') }}">Plan Prospección</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Consulta</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <hr>
    <div class="tabs-section">
        <div class="box-typical box-typical-padding cliente">
            <h4>Autorización</h4>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <h6>Plan Prospección</h6>
                    <p>{{ plan.nombre }}</p>
                    <h6>Convenio</h6>
                    {% if plan.convenios is not null %}
                        <p>{{ plan.convenios }}</p>
                    {% else %}
                        <p>-----</p>
                    {% endif %}
                    <h6>Tipo de cliente</h6>
                    {% if plan.tipoClientes is not null %}
                        <p>{{ plan.tipoClientes.nombre }}</p>
                    {% else %}
                        <p>----</p>
                    {% endif %}
                    <h6>Número de estados</h6>
                    <p>{{ estados|length }}</p>
                    <h6>Asesores designados</h6>
                    <p>{{ plan.numeroAsesores }}</p>
                </div>
                <div class="col-lg-4">
                    <h6>Tipo de servicio</h6>
                    {% if plan|length == 1 %}
                    <p>Individual</p>
                    {% else %}
                    <p>Integral</p>
                    {% endif %}
                    <h6>Costo del convenio</h6>
                    {% if plan.convenios is not null %}
                        <p>$ {{ plan.convenios.costoAutorizacion|number_format(2,'.',',') }}</p>
                    {% else %}
                        <p>-----</p>
                    {% endif %}
                    <h6>Estaciones impactadas</h6>
                    <p>
                        {{ cli|length }}
                    </p>
                    <h6>Estados impactados</h6>
                    <p style="overflow-y: scroll; max-height: 55px;">
                        {% if estados is null %}
                            {% for e in estados %}
                                {{ e }}<br>
                            {% endfor %}
                        {% else %}
                            -----
                        {% endif %}
                    </p>
                    <h6>Tiempo de prospección</h6>
                    <p id="periodo"></p>
                    <p id="fechai" class="hidden">{{ plan.fechaInicio|date('Y/m/d') }}</p>
                    <p id="fechaf" class="hidden">{{ plan.fechaFin|date('Y/m/d') }}</p>
                </div>
                <div class="col-lg-4">
                    <h6>Costo total de prospección</h6>
                    <p>$ {{ plan.costodeProspeccion|number_format(2,'.',',') }}</p>
                    <h6>Costo Total</h6>
                    <p>$ {{ plan.costoTotal|number_format(2,'.',',') }}</p>
                    <h6>Costo propuesto</h6>
                    <p>$ {{ plan.costoTotalPropuesto|number_format(2,'.',',') }}</p>
                    <h6>Periodo de Prospección</h6>
                    <p>{{ plan.fechaInicio|date('Y/m/d') }} - {{ plan.fechaFin|date('Y/m/d') }}</p>
                    <div class="row text-center">
                        <a class="btn btn-primary" href="javascript:catclientes('{{ path('clientesa',{'id': plan.id}) }}')" role="button" style="margin-bottom: 5px"><i class="glyphicon glyphicon-eye-open"></i> Ver lista de clientes</a>
                        <a class="btn btn-primary" href="javascript:catservicios('{{ path('serviciosa',{'id': plan.id}) }}')" role="button"><i class="glyphicon glyphicon-eye-open"></i> Ver lista de servicios</a>
                    </div>

                </div>
            </div>
            <hr>
                <div class="row">
                <div class="col-lg-9">
                    <h6>Condiciones Comerciales</h6>
                    <p>{{ plan.condicionesComerciales }}</p>
                </div>
                <div class="col-lg-3 text-center">

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin-top: 30px; margin-bottom: 10px;"><i class="fa fa-eye"></i> Ver flyer</button>
                    {% if plan.rutaFlyer is not null %}
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Flyer propuesta</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{ asset('uploads/plan/flyers/'~plan.rutaFlyer) }}" >
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Sin Imagen</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        -- Sin Flayer disponible --
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {#<a class="btn btn-rounded btn-inline btn-primary" href="#" role="button"><i class="fa fa-download"></i> Ver propuestas</a>#}
                </div>
            </div>
            <hr>
            <div class="row mt-20">
                {% if plan.estatusPlan.id == 2 %}
                    {% if perfil.perfiles.id == 3 and perfil.privilegios.id == 4 %}
                        <div class="col-lg-12">
                            <h6>Observaciones</h6>
                            <input type="text" value="{{ plan.observacionesDO }}" class="form-control" id="observaciones" placeholder="Ingrese sus observaciones">
                        </div>
                        <div class="row text-center " style="margin-top: 15px;">
                            <div class="col-lg-4">
                                <a class="btn btn-danger modifica" href="#" style="margin-top: 15px;" role="button">Modificación</a>
                            </div>
                            <div class="col-lg-4" style="margin-top: 15px; ">
                                <a class="btn btn-success autoriza" href="#" role="button">Autorizar</a>
                            </div>
                            <div class="col-lg-4" style="margin-top: 15px; ">
                                <a class="btn btn-warning direccion" href="#" role="button">Enviar Dir. Gral</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-6" style="margin-top: 15px;">
                            <p> <strong> En revisión por Dirección Operativa </strong><i class="fa fa-check-circle" style="color: forestgreen;"></i></p>
                        </div>
                    {% endif %}
                {% elseif plan.estatusPlan.id == 3 %}
                    {% if perfil.perfiles.id == 3 and perfil.privilegios.id == 3 %}
                        <div class="row">
                            <div class="col-lg-6">
                                <h6>Observaciones del Director Operativo</h6>
                                <p><strong>{{ plan.observacionesDO  }}</strong></p>
                            </div>
                            <div class="col-lg-6">
                                <h6>Observaciones</h6>
                                <input type="text" value="{{ plan.observacionesDG }}" class="form-control" id="observaciones" placeholder="Ingrese sus observaciones">
                            </div>
                        </div>
                        <div class="row text-center " style="margin-top: 15px; ">
                            <div class="col-lg-4">
                                <a class="btn btn-danger modifica" style="margin-top: 15px;" href="#" role="button">Modificación</a>
                            </div>
                            <div class="col-lg-4" style="margin-top: 15px; ">
                                <a class="btn btn-success autoriza" href="#" role="button">Autorizar</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-lg-6">
                            <h6>Observaciones del Director Operativo</h6>
                            <p><strong>{{ plan.observacionesDO  }}</strong></p>
                        </div>
                        <div class="col-lg-6" style="margin-top: 36px;">
                            <p> <strong>En revisión por Dirección General </strong><i class="fa fa-check-circle" style="color: forestgreen;"></i></p>
                        </div>
                    {% endif %}
                {% elseif plan.estatusPlan.id == 4 %}
                    <div class="row mt-20 text-center">
                        {% if perfil.perfiles.id == 4 and perfil.privilegios.id == 7 %}
                            <div class="col-lg-6" style="margin-top: 15px; ">
                                <a class="btn btn-success enviarv" href="#" role="button">Enviar a ventas</a>
                            </div>
                        {% else %}
                            <div class="col-lg-6" style="margin-top: 15px; ">
                                <p>Plan Autorizado <i class="fa fa-check-circle" style="color: darkgreen;"></i></p>
                            </div>
                        {% endif %}
                    </div>
                {% elseif plan.estatusPlan.id == 5 %}
                    <hr>
                    <div class="row mt-20 text-center">
                        <div class="col-lg-6">
                            <h6>Observaciones Director operativo</h6>
                            <p>{{ plan.observacionesDO }}</p>
                        </div>
                        <div class="col-lg-6">
                            <h6>Observaciones Director General</h6>
                            <p>{{ plan.observacionesDG }}</p>
                        </div>
                    </div>
                {% endif %}

            <div class="col-lg-12 text-right">
                <a class="btn btn-primary" href="{{ path('autorizacion') }}" role="button" style="margin-top: 10px">Regresar</a>
            </div>
        </div>
    </div>
{% endblock %}