{% extends '@App/layout.html.twig' %}

{% block javascript %}

{% endblock %}

{% block body %}
    <header class="section-header">
        <div class="tbl">
            <div class="tbl-row">
                <div class="tbl-cell">
                    <h2 class="inline-block">Prospección</h2>
                </div>
                <div class="tbl-cell text-right">
                    <nav class="inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ path('regClientes') }}">Prospección</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Prospectar</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <hr>
    <div class="tabs-section">
        <div class="box-typical box-typical-padding">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" id="table-sm" style="width: 100%;">
                        <thead>
                        <tr class="text-center">
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Monto vendido</th>
                            <th class="text-center"># de Clientes impactados</th>
                            <th class="text-center">Avance</th>
                            <th class="text-center"> Detalle</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if lista|length>0 %}
                            {% for i in 0..(lista|length)-1 %}
                                <tr>
                                    <th class="text-center">{{ lista[i]|title }}</th>
                                    <th class="text-center">$ {{ totales[i]|number_format(2,'.',',') }}</th>
                                    <th class="text-center">{{ clientes[i] }}</th>
                                    {% set avance = (ventas[i]/clientes[i])*100 %}
                                    <th class="text-center">
                                        <div class="progress progress-lg mb-4">
                                            <div class="progress-bar" role="progressbar" style="width: {{ avance }}%;{% if avance==0 %}color:black;{% endif %}" aria-valuenow="{{ avance }}" aria-valuemin="0" aria-valuemax="100">{{ avance }}%</div>
                                        </div>
                                    </th>
                                    <th class="text-center"><a href="{{ path('prospeccionConsulta',{'id':ids[i]}) }}"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></th>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}